.modal-button-send {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 504px;
  left: 119px;
  width: 169px;
  height: 56px;
  background-color: var(--web-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
